* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial';
}

html,
body {
    height: 100%;
}

body {
    background: rgb(235, 235, 235);
    scroll-behavior: smooth;
}

:root {
    --brown: rgba(165, 42, 42, 0.545);
    --grn-2: rgba(113, 238, 30, 0.835);
    --rd-dark: rgb(192, 27, 27);
    --pnk: pink;
    --center: 0 auto;
    --w33: 33.33%;
    --space: 0 2%;
    --w100: 100%;
    --middle: (-50%, -50%);
    --w80: 80%;
    --black: black;
    --black2: rgba(45, 45, 45, 0.7);
    --white: white;
    --blue: rgba(0, 0, 255, 0.721);
    --org: rgba(255, 166, 0, 0.926);
    --prp: rgba(110, 17, 215, 0.932);
    --marine: rgba(19, 19, 181, 0.999);
    --green: rgba(39, 159, 39, 0.694);
    --w50: 50%;
    --w25: 25%;
    --ylw: rgba(191, 191, 36, 0.85);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 2px solid #ccc;
}


.menu {
    background-color: rgb(14, 14, 14);
    padding: 10px 0px;

}

.center {
    max-width: 2000px;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.clear {
    clear: both;
}

.menu__img {
    margin: 5px 0px;
    width: 7%;
}

.menu__text {
    width: 80%;

}

.menu__text h1 {
    font-size: 30px;
    color: white;
    width: 30%;
    width: 100%;
    margin-left: 20px;

}

.menu__img img {
    max-width: 65px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid white;
}

.menu__links {
    width: 50%;
    text-align: right;
}

.menu__links a {
    width: 30%;
    text-decoration: none;
    font-size: 22px;
    color: white;
    margin: 0 18px;
    align-self: flex-end;
}

.menu__links a.menu__links__activate {
    border-bottom: 1px solid white;
}

.menu__links a:hover {
    color: rgb(100, 100, 100);
    transition: 0.3s;
}

.menu__mobile,
.menu__mobile-wrap {
    display: none;
}

section.side-info {
    max-width: 2000px;
    display: flex;
    height: 100%;
    z-index: 1;


}

div.side-info__flex-left {
    padding: 10px 2%;
    width: 20%;
    align-items: center;
    background-color: rgb(25, 24, 24);
    height: 100%;

}

ul.flex-left__list {
    padding: 40px 20px;
    list-style-type: none;
    border: 2px solid white;
    background-color: rgba(51, 51, 51, 0.5);
    border-radius: 50px;
}

ul.flex-left__list>li {
    margin-bottom: 10%;
    margin-top: 10px;
    padding: 20px 2%;
    border: 2px solid #282626;
    text-align: center;
    border-radius: 20px;
    border: 1px solid white;

}

ul.flex-left__list>li>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

ul.flex-left__list>li:hover {
    background-color: #ccc;
    transition: 0.5s;

}

ul.flex-left__list>li>a:hover {
    color: black;
    transition: 0.5s;
}

div.side-info__flex-right {
    width: 80%;
    background: rgb(235, 235, 235);
    height: 100%;
    padding: 20px 2%;
    position: relative;
    overflow-y: auto;
}

.side-info__flex-right h1 {
    font-size: 25px;
    text-align: center;
    color: white;
    background: black;
    width: 50%;
    margin: 20px auto;
    border-radius: 20px;
}

.side-info__flex-right p.about {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 0px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 20px;
    position: relative;
}

.btn-click {
    text-align: center;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 4%;
    left: -37%;
    display: none;
    transform: translate(1%, 1%)
}


.btn-modal {
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(88, 88, 88);
    display: none;

}


.shadow {
    width: 100%;
    height: 130vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.95);
    z-index: 2;
    position: absolute;
    display: none;
}

.modal-area {
    width: 90%;
    padding: 10px 2%;
    background: rgb(100, 100, 100);
    height: 300px;
    display: none;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    border: 3px solid gray;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}



i.close {
    cursor: pointer;
    display: none;
    color: black;
    background: #ccc;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
    position: absolute;
    border: 2px solid black;
    left: 97%;
    top: 5%;
    z-index: 5;
    transform: translate(50%, -70%);
    margin-right: 2%;
}

.modal-area a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    background: rgb(145, 145, 145);
    border-radius: 20px;
    border: 4px solid rgb(80, 80, 80);
}

.modal-area a:hover {
    background-color: rgb(122, 122, 122);
    transition: 1s;
}

section.area-interest {
    flex-wrap: wrap;
    padding: 20px;
    display: flex;

}



section.area-interest h4 {
    color: white;
    font-size: 40px;
    margin: 2% 2%;
    width: 100%;
    background: black;
    text-align: center;
    border-radius: 15px;
}



.wrap-img {
    width: 32.1%;
    margin-left: 10px;
    background: black;
    height: 300px;
    position: relative;
    border: 4px solid #ccc;
}

.one {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
}

.two {

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.three {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.wrap-img span {
    position: absolute;
    bottom: -7%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    padding: 5px 2%;
    font-size: 23px;
    font-weight: bold;
    width: 70%;
    background-color: black;
    border-radius: 20px;
    color: white;
    text-align: center;
    border: 2px solid rgb(100, 100, 100);


}




section.diferencial {

    margin-top: 10px;
    padding: 2%;
}

.diferencial h1 {
    background: black;
    color: white;
    font-size: 25px;
    padding: 5px 2%;
    width: 50%;
    margin: 0px auto;
    border: 1px solid white;
    border-radius: 20px;

}

.box-flex {
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.wrap {
    background: black;
    border: 4px solid rgb(150, 150, 150);
    margin-top: 10px;
    width: 33.33%;
    padding: 20px;
}

.wrap>i {
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    color: white;
    margin-bottom: 10px;
}

.text {
    border: 3px solid rgb(100, 100, 100);
    padding: 0px 4%;
    display: flex;
    flex-wrap: wrap;
}

.text h3 {
    width: 100%;
    font-size: 30px;
    color: white;
    margin-bottom: 5px;
    text-align: center;


}

.text p {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    padding: 0px 2%;
    text-align: center;

}



footer {
    width: 100%;
    background: black;
    padding: 10px;
    display: flex;
    bottom: 0;
}

.copy {
    display: flex;
    width: 100%;
    padding: 0 2%;
    align-items: center;
}

.social-media {
    width: 30%;
    display: flex;
    padding: 0 2%;
    justify-content: flex-end;
}

.copy i {
    color: white;
    font-size: 40px;
    padding: 1% 1%;
}

.copy i:hover {
    background-color: rgb(120, 120, 120);
    transition: 1s;
}

.copy p {
    font-style: italic;
    font-weight: normal;
    color: white;
    font-size: 30px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.social-media i {
    color: white;
    font-size: 50px;
    margin: 20px 10px;
    border: 1px solid white;
    padding: 5px;
}

.social-media i:hover {
    transition: 1s;
    color: rgb(210, 210, 210);
}

.profissional,
.projetos,
.profissional,
.habilidades {
    display: none;
}

.projetos {
    width: 100%;
    height: 100%;
}

.pj {
    width: 100%;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}


.pj-box {
    margin: 2% 2%;
    width: 29.33%;
    background: black;
    padding: 1%;
    text-align: bottom;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

.pj-box>h1 {
    width: 100%;
    font-size: 20px;
    color: black;
    background: white;
    padding: 10px;
    border: 1px solid rgb(150, 150, 150);

}

.pj-img {
    background: rgb(120, 120, 120);
    width: 100%;
    padding: 5px;
    margin-bottom: 2%;
    border-radius: 20px;
    border: 1px solid white;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    min-height: 20vh;
}

.pj-link {
    width: 100%;
    margin-top: 4%;
    background: rgb(170, 165, 165);
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
}

.pj-box a {

    color: (40, 38, 38, 0.825);
    font-weight: bold;
    text-decoration: none;

    padding: 5px;


}

.pj-link:hover {
    transition: 1s;
    background: rgba(224, 218, 218, 0.566);
}

.pj-img:hover {
    transition: 1s;


}



.profissional {
    width: 100%;
    border: 1px solid black;
    border-radius: 20px
}



.double {
    text-align: center;
    width: 80%;
    display: flex;
    background: rgb(150, 150, 150);
    max-width: 100%;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 1px solid black;
    margin: 2% auto;

}


.double-footer {
    width: 50%;
    padding: 20px;

}

.double-footer p {
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
    border-radius: 20px;
    background-color: rgb(77, 77, 77);
}

.double-footer li {
    margin: 5%;
    background-color: rgb(165, 165, 165);
    list-style-type: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.double-wrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.double-title {
    background: black;
    width: 100%;
    max-width: 50%;
    padding: 10px;
    border-radius: 20px;

}

.double-title h5 {
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: normal;
    margin: 3% 0;
    background: rgb(120, 120, 120);
    border-radius: 20px;
}

.double-title img {
    width: 60%;
    margin: 10px auto;
    background-position: center;
    background-size: cover;
    border: 4px solid #ccc;
    border-radius: 20px;
}


.double-title p {
    color: white;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 70%;
    background: rgba(53, 53, 53, 0.5);
}


section.slider {
    width: 100%;
    height: 100%;
    max-height: 700px;
    max-width: 2000px;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
}

.txt-slider h1 {
    width: 100%;
    z-index: 4;
    font-size: 40px;
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.gust {
    width: 100%;
    z-index: 4;
    position: absolute;
    left: 75%;
    top: 60%;
    font-size: 40px;
    font-style: italic;
    transform: translate(-40%, -40%);
    color: white;
}

.overlay {
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.slider img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    background-size: cover;
    display: none;
    background-position: center;
}

.information {
    width: 100%;
    height: 60%;
    padding: 0 2%;
    margin: 0 auto;
    margin-top: 20px;
    overflow-y: auto;
}

.welcome {
    width: 100%;
    text-align: center;
    background: rgb(160, 160, 160);
    border-radius: 20px;
    padding: 2px;
    margin: 20px auto;

}

.welcome h1 {
    font-size: 20px;
    color: white;
    padding: 5px;
    background: black;
    border-radius: 20px;
}

.welcome p {
    padding: 0 2%;
    font-size: 20px;
    color: white;
    font-style: italic;
}

.info-about {

    max-height: 270px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;


}

.summary {
    margin-right: 2%;
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    background: #ccc;
    border: 1px solid black;
    max-height: 300px;
    align-content: flex-start;
    overflow-y: auto;


}

.text-summary {
    width: 100%;
    height: 12%;
    padding: 0 2%;
    background: white;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 20px;

}

.summary-text {
    width: 100%;
    height: 100%;
}


.summary-items {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
    justify-content: center;
    margin: 2%;
}

.summary-numbers i {

    font-size: 20px;



}

.summary-number {
    width: 20%;
    border-radius: 20px;
    background: white;
    text-align: center;
    padding: 10px;
    max-height: 40px;
}

.summary-items li {
    margin: 0px;
    width: 100%;
    list-style-type: none;
    font-size: 18px;
    color: white;
    padding: 2% 2%;
    margin: 5%;
    background: #282626;
    border-radius: 20px;
    text-align: center;




}

.price {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    background: black;
    overflow-y: auto;
    max-height: 300px;

}

.price-text {
    width: 100%;
    text-align: center;
    background: white;
}

div.price-item {
    width: 100%;
    background: #ccc;
    margin: 1%;
    text-align: center;
    border: 1px solid white;
}

.price-item h1 {
    color: white;
    background: rgb(135, 135, 135);
    font-size: 20px;
    border: 1px solid black;
}


.item-price-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: 10px;

    max-height: 200px;


}

.item-price-info li {
    width: 100%;
    margin: 5px 5px;
    list-style-type: none;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0 3%;
    background: black;
    color: white;
    border-radius: 20px;
    font-size: 15px;
}

.item-price-info .value {
    text-align: center;
    background: darkgreen;
}




section.form-contato {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.cta {
    width: 50%;
    color: white;
    font-size: 30px;
    padding: 0 2%;
}

.cta>h2 {
    width: 100%;
}

.cta>p {
    width: 100%;
}

.form-contato>form {

    width: 48%;
    margin-right: 2%;
    padding: 0 2%;
    background: linear-gradient(68.3deg, rgb(23, 41, 77) 6.3%, rgb(243, 113, 154) 90.9%);
    border-radius: 20px;
    max-height: 500px;
    min-height: 500px;
}

.form-contato>form>h1 {
    margin-top: 2%;
    color: white;
    font-size: 30px;
    background-color: black;
    text-align: center;
    border-radius: 20px;
}

.form-contato>form>label {
    color: white;
    display: block;
    margin: 5px;
    font-size: 20px;
    text-align: left;
    border-radius: 20px;
    width: 25%;

}

.form-contato>form>input {
    width: 100%;
    padding: 2% 2%;
    max-height: 30px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    background-color: rgb(233, 233, 233);
}

.form-contato>form>input.btn-contact {
    background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%);
    width: 100%;
    margin: 4% auto;
    padding: 2%;
    color: white;
    cursor: pointer;
    font-size: 25px;
    max-height: 50px;

}

.form-contato>form>input.btn-contact:hover {
    transition:1s;
    transform:scale(1.02);
}

.form-contato>form>input[type='tel'] {
    margin-bottom: 20px;
}

.form-contato>form>textarea {
    resize: none;
    min-width: 100%;
    width: 100%;
    height: 20%;
    padding: 2% 2%;
    border-radius: 20px;
}

section.habilidades {
    width: 100%;
}

section.habilidades div.center {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 2%;

}

.search-bar {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    max-height: 100px;
    flex-wrap: wrap;
    position: relative;

}

.search-bar>i {
    width: 32px;
    top: 50%;
    left: 2%;
    transform: translate(-90%, -50%);
    padding: 1%;
    font-size: 21px;
    color: white;
    background-color: black;
    border-radius: 5px;
    position: absolute;
}

.search-bar>input[type="text"] {

    width: 46%;
    min-height: 45px;
    font-size: 15px;
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;


}

.search-bar>input[type="text"]:focus {
    color: white;
    transition: 1s;
    background-color: rgba(75, 75, 75, 0.5);
}



.search-bar>input[type='text']::placeholder {
    padding: 6%;
    color: black;
}


.code-skills {
    width: 29%;
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 23px;
    margin: 0 2% 2% 2%;
    border: 4px solid rgba(40, 40, 40, 0.8);
}

.code-text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.code-text h1.skills-text {
    width: 70%;
    color: black;
    font-size: 20px;
    display: block;
    background: white;
    font-weight: normal;
    font-style: italic;
    border: 2px solid black;

}

.icon {
    color: white;
    background: black;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid white;
    font-size: 30px;
}


ul.ul-skills {
    width: 100%;
    list-style-type: none;
    background: white;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100px;
}

ul.ul-skills li {
    color: black;
    margin: 5%;
    font-size: 20px;
    background: #ccc;
    border-radius: 20px;
}

@media screen and (max-width:1600px) {
    .cta {
        font-size: 24px;
    }
}

@media screen and (max-width:1500px) {

    .txt-slider h1 {
        font-size: 40px;
        position: absolute;
        left: 65%;
        top: 50%;
        transform: translate(-50%, -50%);

    }

    .gust {
        position: absolute;
        left: 65%;
        top: 60%;
        font-size: 40px;
        transform: translate(-40%, -40%);
    }

    .search-bar>i {

        top: 50%;
        left: 2%;
        transform: translate(-60%, -50%);
        position: absolute;
    }

    .search-bar>input[type="text"] {


        min-height: 35px;
        font-size: 15px;



    }

    .text h3 {
        font-size: 16px;
    }

    .text p {
        font-size: 15px;
    }

    .shadow {
        display: none;
    }

    .modal-area {
        display: none;
    }

}


@media screen and(max-width:1300px) {
    section.slider {
        max-height: 500px;
    }

    .txt-slider h1 {
        font-size: 40px;
        position: absolute;
        left: 70%;
        top: 50%;
        transform: translate(-50%, -50%);

    }


    .gust {
        position: absolute;
        left: 70%;
        top: 60%;
        font-size: 40px;
        transform: translate(-40%, -40%);
    }
}

@media screen and (max-width:1170px) {

    .pj-box {
        width: 45%;
    }


    section.slider {
        max-height: 400px;
    }

    .txt-slider h1 {
        font-size: 35px;
        position: absolute;
        left: 65%;
        transform: translate(-50%, -50%);

    }

    .gust {
        position: absolute;
        left: 67%;
        font-size: 35px;
        transform: translate(-40%, -40%);
    }




    .code-skills {
        width: 39%;
        margin: 1% auto;


    }

    .shadow {
        display: none;
    }

    .modal-area {
        display: none;
    }


    .wrap-img {
        width: 31%;
        margin-left: 10px;
        height: 200px;

    }

    ul.ul-skills li {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .wrap-img span {
        position: absolute;
        bottom: -7%;
        left: 50%;
        transform: translate(-50%);
        color: black;
        padding: 5px 2%;
        font-size: 23px;
        font-weight: bold;
        width: 70%;
        background-color: black;
        border-radius: 20px;
        color: white;
        text-align: center;
        border: 2px solid rgb(100, 100, 100);


    }


}


@media screen and (max-width:1000px) {

    .cta {
        text-align: center;
        width: 100%;
        color: white;
        font-size: 25px;
        padding: 0 2%;
        margin: 2%;
    }

    .cta>h2 {
        margin-top: 2%;
        width: 100%;
    }

    .cta>p {
        width: 100%;
    }

    .form-contato>form {

        width: 100%;
        margin: 2%;
        padding: 0 2%;
        background: linear-gradient(68.3deg, rgb(23, 41, 77) 6.3%, rgb(243, 113, 154) 90.9%);
        border-radius: 20px;
        min-height: 450px;
    }

    .form-contato>form>h1 {
        margin-top: 2%;
        color: white;
        font-size: 30px;
        background-color: black;
        text-align: center;
        border-radius: 20px;
    }

    .form-contato>form>label {
        color: white;
        display: block;
        margin-top: 10px;
        font-size: 20px;
        text-align: left;
        border-radius: 20px;
        width: 100%;
        text-align: center;

    }

    .form-contato>form>input {
        width: 100%;
        font-size: 15px;
        background-color: rgb(233, 233, 233);
    }

    .form-contato>form>input.btn-contact {
        background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%);
        width: 100%;
        margin: 1%;
        padding: 1%;
        color: white;
        cursor: pointer;
        font-size: 15px;

    }

    .form-contato>form>input[type='tel'] {
        margin-bottom: 20px;
    }

    .form-contato>form>textarea {
        resize: none;
        min-width: 100%;
        width: 100%;
        height: 20%;
        padding: 2% 2%;
    }

    .info-about {

        max-height: 250px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }


    section.slider {
        max-height: 300px;
    }

    .txt-slider h1 {
        font-size: 20px;
        position: absolute;
        left: 70%;
        top: 50%;
        transform: translate(-50%, -50%);

    }

    .gust {
        position: absolute;
        left: 70%;
        top: 60%;
        font-size: 20px;
        transform: translate(-40%, -40%);
    }

    .search-bar>input[type="text"] {
        width: 94%;
        padding: 1%;
        font-size: 15px;
        border: 2px solid black;
        border-radius: 5px;
        cursor: pointer;


    }

    .search-bar {
        justify-content: center;
    }

    ul.ul-skills li {
        font-size: 25px;
        margin-bottom: 10px;
    }


    .code-skills {
        width: 100%;
        margin: 3% auto;


    }

    .code-text .skills-text {
        width: 70%;
        font-size: 11px;
        font-size: 20px;
    }

    .shadow {
        height: 122vh;
    }

    .double-title img.single {
        width: 80%;
        margin: 0 auto;
    }

    .double-title img.cavalhada {
        width: 100%;
        margin: 0 auto;
    }

    .menu {
        position: relative;
        padding: 0;
    }

    .menu__links,
    .menu__links a {
        display: none;
    }


    .menu__text h1 {

        font-size: 25px;

    }

    div.side-info__flex-left {
        display: none;
    }

    .menu__mobile {
        display: block;
        padding: 20px;
        width: 20%;
        text-align: right;
    }

    .menu__mobile i {
        color: white;
        font-size: 18px;

    }

    .menu__mobile-wrap {
        position: absolute;
        height: 180px;
        width: 100%;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        border: 2px solid white;
        background: black;
        border-radius: 10px;
        z-index: 6;

    }

    .menu__mobile-wrap a {
        display: block;
        border: 2px solid white;
        text-decoration: none;
        font-size: 20px;
        padding: 0 5px;
        margin: 25px 30px;
        text-align: center;
        color: white;
        border-radius: 20px;
    }

    .menu__mobile-wrap a:hover {
        background: rgb(50, 50, 50);
        transition: 0.3s;
    }

    div.side-info__flex-right {
        width: 100%;
    }

    div.box-flex {
        flex-wrap: wrap;
    }

    div.wrap {
        width: 100%;
    }

    .text {
        min-height: 0px;
    }

    .wrap .text h3 {
        font-size: 40px;
    }

    .wrap .text p {
        margin-top: 20px;
        font-size: 35px;
    }

    .wrap-img {
        width: 100%;
        margin: 20px;
        background: black;
        height: 350px;
        border: 4px solid #ccc;

    }



    .double {
        text-align: center;
        width: 90%;
        display: flex;
        background: rgb(150, 150, 150);
        max-width: 100%;
        flex-wrap: wrap;
        border-radius: 20px;
        border: 1px solid black;
        margin: 4% auto;

    }

    .copy p {
        font-size: 15px;
        margin-left: 30px;
        margin-right: 30px;
    }


    .btn-click {
        display: block;
    }

    .btn-modal {
        display: inline-block;
    }

    .double-footer p {
        font-size: 17px;
    }

    .double-footer span {
        font-size: 14px;
    }

    i.close {
        position: absolute;
        left: 94%;
        top: 4%;
        z-index: 5;
        transform: translate(50%, -70%);
    }

    .search-bar>i {
        top: 50%;
        left: 5%;
        transform: translate(-51%, -50%);
    }
}

@media screen and (max-width:800px) {
    .txt-slider h1 {
        left: 60%;
        top: 50%;
        transform: translate(-40%, -40%);

    }

    .copy p {
        font-size: 12px;
        width: 50%;
    }

    .gust {
        position: absolute;
        left: 70%;
        top: 60%;
        transform: translate(-40%, -40%);
    }

    .text-summary {
        font-size: 15px;

    }
}

@media screen and (max-width:700px) {
    .pj-box {
        width: 100%;
        margin: 10px auto;
    }
}

@media screen and (max-width:600px) {
    
    .form-contato>form {
        margin-top:2%;
        width:80%;
        margin:0 auto;
    }

    .form-contato > form > input{
        width: 100%;
        margin:0 auto;
    }
    .form-contato > form > textarea{
        max-width:40px;

    }
    .cta{
        font-size:15px;
    }


    .txt-slider h1 {
        font-size: 13px;
        position: absolute;
        left: 60%;
        top: 50%;
        transform: translate(-50%, -50%);

    }

    .gust {
        position: absolute;
        left: 64%;
        top: 60%;
        font-size: 13px;
        transform: translate(-40%, -40%);
    }

    .search-bar>i {
        top: 50%;
        left: 6%;
        transform: translate(-50%, -50%);
    }

    .search-bar>input[type='text'] {
        min-height: 25px;
    }
}

@media screen and (max-width:550px) {
    .txt-slider h1 {
        left: 70%;
        top: 50%;
        transform: translate(-50%, -50%);

    }

    .gust {
        position: absolute;
        left: 70%;
        top: 60%;
        font-size: 13px;
        transform: translate(-40%, -40%);
    }



}

@media screen and (max-width:450px) {
    .text-summary {
        font-size: 12px;

    }


}
