.card {
  display: grid;
  background: var(--secondary-color);
  margin: 2%;
  grid-template-columns: 100%;
  place-items: center;
  border-radius: 1rem;
  font-size: 1rem;
  border: 0.5rem solid var(--terceary-color);
}

.cardItem {
  color: var(--terceary-color);
}

.cardDetails {
  color: var(--accent-color);
}
