.imageContainer {
  width: 33.3%;

}

.imageContainer>img {
  max-width: 100%;
  padding: 2%;
  background-color: var(--accent-color);
}

.imageContainer,
.imageContainer>img {
  border-radius: 1rem;
}
