.image_container {
  width: 33.3%;

}

.image_container>img {
  max-width: 100%;
  padding: 2%;
  background-color: var(--accent-color);
}

.image_container,
.image_container>img {
  border-radius: 1rem;
}