.imageContainer {
  display: grid;
  place-items: center;
}

.imageContainer>img {
  max-width: 50%;
  padding: 2%;
  background-color: var(--accent-color);
}

.imageContainer,
.imageContainer>img {
  border-radius: 1rem;
}
