:root {
  --primary-color: #070F2B;
  --secondary-color: #1B1A55;
  --terceary-color: #535C91;
  --accent-color: #9290C3;
  --main-font-style: "Open Sans";
  --secondary-font-style: "SUSE";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: var(--primary-color);
  font-family: var(--main-font-style);
}