.menu {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  background-color: var(--terceary-color);
  color: var(--secondary-color);
  padding: 0.5%
}

.menu>h1 {
  font-size: 3rem;
}

.menu_links {
  display: flex;
  place-items: center;
  gap: 5%;
}


.menu_links>div {
  display: flex;
  place-items: center;
  margin: 2% 0;
  cursor: pointer;
  font-size: 2rem;

}

.menu_links>div>a {
  color: var(--secondary-color);

}

.menu_links>div:hover {
  transition: 1s;
  color: var(--primary-color);
}